#heading{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background-color:wheat;
    max-width: auto;
    min-width: auto;
}
#heading_from_to{
    color:blueviolet;
    background-color: wheat;
}
#h1help{
    color: rgb(95, 16, 215);
    background-color: rgb(14, 218, 137);
    
}
#vid{
    width: 900px;
    height: 500px;
}
#name_input{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    padding-left: 20px;
    max-width: auto;
    min-width: auto;
   border-color:orangered;
   border-radius: 20px;
}
#help{
    color:blueviolet;
}
#address_input{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    padding-left: 20px;
    max-width: auto;
    min-width: auto;
    border-color:orangered;
   border-radius: 20px;
}
#receiver_name_input{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    padding-left: 20px;
    max-width: auto;
    min-width: auto;
    border-color:orangered;
   border-radius: 20px;
}
#receiver_address_input{
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    
    width:200px;
    border-color:orangered;
   border-radius: 20px;
}
#reason{
    border-radius: 20px;
    width: 100px;
}
#Fromdiv{
    
    padding-left:35px ;

    
}

#Todiv{
    padding-left:35px ;
}
#Contentdiv{
    padding-left:35px ;
}
#Tqdiv{
    color: brown;
    padding-left: 150px;
}
#tqname{
    padding-left:310px;
}
#content{
    color:green;

}
#From{
    
    color:green;

}
#fromdate{
    border-radius:20px;
}
#todate{
    border-radius:20px;
}
#submit{
    border-color:aquamarine;
    background-color: aqua;
}
#To{
    color:green;
}
#bydiv{
    position: relative;
    padding-left: 300px;
    color: darkmagenta;
    
}

#total_days{
    border-radius: 200px;
}
#horizontal_line{
    color:cornflowerblue ;
}
#yours{
    
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background-color:wheat;
    max-width: auto;
    min-width: auto;
   
}
